@import "~antd/dist/antd.css";

body {
  background-color: #fafafa;
}

.ant-layout-header {
  height: 79px;
  line-height: 77px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
}
.app-content {
  background-color: #fafafa;
}
