.profile-container {
  max-width: 1000px;
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 40px;
}

.user-details {
  width: 100%;
  padding: 25px 50px 50px 50px;
}

.user-avatar {
  display: flex;
  justify-content: center;
}

.user-avatar-circle {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.ant-tabs-ink-bar {
  top: 1px;
  bottom: 0px;
  height: 1px;
  background-color: #000;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #000;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #000;
}

.username {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}

.name {
  font-weight: 600;
  font-size: 16px;
}

.edit-profile {
  font-weight: 700;
  color: #000;
}

.setting {
  margin-left: 20px;
  font-size: 26px;
  line-height: 37px;
  cursor: pointer;
}

.ant-list-grid .ant-list-item {
  display: block;
  max-width: 100%;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  color: black;
  font-size: 16px;
  margin-top: 10px;
}
